@font-face {
  font-family: "Jungle";
  src: url(/assets/fonts/JungleToJungle-BW5zV.ttf) format("opentype");
  font-weight: normal;
  font-size: normal;
}

@font-face {
  font-family: "CuteJellyFish";
  src: url(assets/fonts/CuteJellyfish-Eaqrg.otf) format("opentype");
  font-weight: normal;
  font-size: normal;
}

body {
  margin: 0;
}

main {
  min-height: 100vh;
}

.easy .card {
  width: 75px;
  height: 75px;
}

.easy .card-container {
  width: 340px;
}

.easy .card .back {
  background-color: rgb(255, 208, 216);
  background-image: url(assets/easy/Untitled_Artwork.png);
  background-size: cover;
  box-shadow: 2px 3px 2px #ffc2f987;
}

.easy button {
  background-color: rgb(245, 180, 245);
  border: none;
  margin: 10px 10px;
  border-radius: 10px;
  padding: 5px 10px;
}

.easy .level-btn,
.easy .mute-btn {
  width: 67px;
  height: 43px;
  color: white;
  text-shadow: 0 0 5px white;
  box-shadow: 0px 4px 0 #a049ab7d;
  font-family: "CuteJellyFish";
}

.easy .start-btn,
.easy .reset-btn {
  background-color: rgb(245, 180, 245);
  color: white;
  text-shadow: 0 0 5px white;
  box-shadow: 0px 4px 0 #a049ab7d;
  border-radius: 10px;
  padding: 5px 10px;
}

.easy .timer {
  color: white;
  text-shadow: 0 0 3px #ff57fd;
  font-size: larger;
}

.easy h2 {
  background-color: rgb(245, 180, 245);
  color: white;
  text-shadow: 0 0 5px white;
  box-shadow: 0px 4px 0 #a049ab7d;
  border-radius: 10px;
  padding: 8px 40px;
  font-size: xx-large;
  font-family: "CuteJellyFish";
}

.medium {
  background: url(/assets/medium/jungle-background-1.jpg);
  background-size: cover;
  font-family: sans-serif;
}
.medium .memory-game-title {
  font-family: "Jungle";
  font-size: 70px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 50px;
  margin: 0;
  margin-top: 30px;
}

.medium .select-difficulty-p {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  padding: 10px;
  font-weight: bold;
}

.medium .theme-title {
  font-family: "Jungle";
  font-size: 65px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  padding: 10px;
  box-sizing: border-box;
  margin: 0;
  margin-top: 30px;
}

.medium .result {
  background: url(/assets/medium/result-screen-background.png);
  background-size: cover;
  border: 5px solid black;
  color: black;
}
.medium .win h2 {
  font-size: 45px;
}

.medium .win .win-message {
  font-size: 15px;
}

.medium .win h2,
.medium .win .win-message,
.medium .lose h2,
.medium .lose .lose-message {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5px;
  border-radius: 10px;
}

.medium .level-btn,
.medium .mute-btn {
  height: 60px;
  width: 100px;
  margin: 20px;
}
.medium .level-btn,
.medium .mute-btn {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.medium .level-btn:hover,
.medium .mute-btn:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.medium .timer {
  font-size: 30px;
  background-color: #c2fbd7;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0px 0px 16px 7px black;
  text-shadow: 0px -2px 4px black;
}

.medium .game-control {
  gap: 40px;
}

.medium .card-container {
  width: 390px;
  padding: 0;
}

.medium .card {
  height: 69px;
  width: 120px;
}

.medium button {
  background-color: #2e7d32;
  border-radius: 50px;
}

.medium #go-btn {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: bold;
  font-size: 20px;
  padding: 20px 40px;
  color: white;
  background: #ad5389;
  background: linear-gradient(
    0deg,
    rgba(20, 167, 62, 1) 0%,
    rgba(102, 247, 113, 1) 100%
  );
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.05em;
  border-radius: 20em;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.medium #go-btn:hover {
  background: linear-gradient(
    -15deg,
    rgba(20, 167, 62, 1) 0%,
    rgba(102, 247, 113, 1) 100%
  ); /* Slight gradient direction change */
  box-shadow: 0 0.6em 1.7em -0.4em #14a73e98; /* Increased box shadow */
  transform: scale(1.03); /* Slight scale */
}

.medium #go-btn:active {
  background: linear-gradient(
    -30deg,
    rgba(20, 167, 62, 1) 0%,
    rgba(102, 247, 113, 1) 100%
  ); /* More noticeable gradient direction change */
  box-shadow: 0 0.2em 0.8em -0.4em #14a73e98; /* Decreased box shadow to give a "pressed" effect */
  transform: scale(0.98); /* Slightly scale down for a "pressed" effect */
}

.medium .easy-btn,
.medium .medium-btn,
.medium .hard-btn {
  font-weight: bold;
  font-size: 20px;
}

.hard {
  font-family: "Creepster", cursive;
  color: orange;
  background: url(assets/hard/pumpkin-2-background.jpeg);
  background-size: cover;
  overflow: hidden;
  height: 100vh;
}

.hard h2 {
  font-size: 40px;
}

.hard .card {
  height: 80px;
  width: 70px;
}

.hard .card-container {
  width: 320px;
}

.hard button {
  background-color: #a85e32;
}

.hard .start-btn,
.hard .reset-btn {
  font-family: "Creepster", cursive;
  font-size: 16px;
  height: 40px;
  width: 70px;
  box-shadow: 0 2px 1px #999;
}

.hard .timer {
  font-size: 25px;
}

.hard .level-btn,
.hard .mute-btn {
  height: 40px;
  width: 70px;
  margin: 10px;
}

.hard .game-control {
  gap: 20px;
}

.hard .level-btn {
  display: wrap;
}

.hard #go-btn {
  color: #bf4c0a;
  background-color: #fcc09d;
  font-family: "Creepster", cursive;
  font-weight: bolder;
  font-size: 20px;
}

.hard .card .back {
  background-color: #e6a783;
  background-image: url(assets/hard/boo.png);
  background-size: cover;
}

.playing-game {
  display: none;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
}

#header-pg {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.choosing-level {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
}

.difficulty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.easy-btn,
.medium-btn,
.hard-btn {
  width: 200px;
  padding: 30px 0;
  text-align: center;
  box-sizing: border-box;
  border-radius: 10px;
}

.go-btn {
  padding: 10px 40px;
  border-radius: 5px;
}

.welcome {
  display: none;
}

.result {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 400px;
  width: 250px;
  background-color: black;
  top: 225px;
  left: 50%;
  transform: translate(-50%);
  color: white;
}

.win,
.lose {
  display: none;
  position: absolute;
  text-align: center;
}

.game-control {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 400px;
  padding-top: 30px;
}

.card {
  height: 90px;
  width: 90px;
  margin: 5px;
  position: relative;
  perspective: 100px;
}

/* .card-front {
  transform: rotateY(180deg);
  transition: ease 1s;
  background-color: black;
} */

.card .front,
.card .back {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  position: absolute;
  transition: transform 0.5s;
}

.card .front {
  transform: rotateY(180deg);
}

.card .back {
  transform: rotateY(0deg);
  background-color: pink;
}

.flipped .front {
  transform: rotateY(0deg);
}

.flipped .back {
  transform: rotateY(-180deg);
}

.matched {
  /* visibility: hidden; */

  opacity: 0;
  transition: opacity 1s;
}

@media only screen and (min-width: 768px) {
  .card-container {
    width: 680px;
  }

  .card {
    height: 155px;
    width: 155px;
  }

  .medium .card-container {
    width: 720px;
  }

  .medium .card {
    height: 131px;
    width: 230px;
    perspective: 500px;
  }

  .hard .card {
    height: 150px;
    width: 125px;
    perspective: 500px;
  }

  .hard .card-container {
    width: 540px;
  }
}

@media only screen and (min-width: 990px) {
  .hard .card {
    height: 150px;
    width: 150px;
    perspective: 500px;
  }

  .hard .card-container {
    width: 960px;
  }
}
