.easy h1 {
    background-color: green;
}

.medium h1 {
    background-color: yellow;
}

.hard h1 {
    background-color: red;
}

.easy .card {
}

.medium .card {
}

.hard .card {
}

.playing-game {
  display: flex;
  flex-direction: column;

  align-items: center;
}

#header-pg {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.level-btn,
.mute-btn {
  width: 75px;
  height: 50px;
}

.choosing-level {
  display: none;
}

.welcome {
  display: none;
}

.game-control {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 400px;
}

.card {
  background-color: pink;
  height: 50px;
  width: 100px;
  margin: 10px;
}

.card-front {
  transform: rotateY(180deg);
  transition: ease 1s;
  background-color: black;
}
