/* .easy h1 {
    background-color: green;
}

.medium h1 {
    background-color: yellow;
}

.hard h1 {
    background-color: red;
} */

.playing-game {
  display: none;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
}

#header-pg {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.level-btn,
.mute-btn {
  width: 75px;
  height: 50px;
}

.choosing-level {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
}

.difficulty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.easy-btn,
.medium-btn,
.hard-btn {
  width: 200px;
  padding: 30px 0;
  text-align: center;
  box-sizing: border-box;
  border-radius: 10px;
}

.easy-btn:focus {
  background-color: blue;
}
.medium-btn:focus {
  background-color: green;
}
.hard-btn:focus {
  background-color: red;
}

.go-btn {
  padding: 10px 40px;
  border-radius: 5px;
}

.welcome {
  display: none;
}

.result {
  display: none;
  position: absolute;
  height: 400px;
  width: 250px;
  background-color: black;
  top: 225px;
  left: 50%;
  transform: translate(-50%);
  color: white;
}

.win,
.lose {
  display: none;
  position: absolute;
}

.game-control {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 400px;
  padding-top: 30px;
}

.card {
  height: 90px;
  width: 90px;
  margin: 5px;
  position: relative;
  perspective: 100px;
}

/* .card-front {
  transform: rotateY(180deg);
  transition: ease 1s;
  background-color: black;
} */

.card .front,
.card .back {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  position: absolute;
  transition: transform 0.5s;
}

.card .front {
  transform: rotateY(180deg);
}

.card .back {
  transform: rotateY(0deg);
  background-color: pink;
}

.flipped .front {
  transform: rotateY(0deg);
}

.flipped .back {
  transform: rotateY(-180deg);
}

.matched {
  /* visibility: hidden; */

  opacity: 0;
  transition: opacity 1s;
}

@media only screen and (min-width: 768px) {
  .card-container {
    width: 680px;
  }

  .card {
    height: 155px;
    width: 155px;
  }
}
